NEXT_PUBLIC_SITE_URL=https://aodo.me
NEXT_PUBLIC_NONO_URL=http://localhost:3000
NEXT_PUBLIC_BASE_PATH=
NEXT_PUBLIC_GITHUB_OWNER=noaul
NEXT_PUBLIC_GITHUB_REPO=nono
NEXT_PUBLIC_GITHUB_BRANCH=main
NEXT_PUBLIC_GITHUB_APP_ID=2378640
NEXT_PUBLIC_GITHUB_ROOT_PATH=apps/blog
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=
